{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="section">
    <div class="home-content">
        <img src="/static/images/cv-picture.jpeg" alt="Aiah Nadine Q. Delos Reyes" class="profile-image">
        <div class="home-text">
            <h2 class="highlight-name">Aiah Nadine Q. Delos Reyes</h2>
            <p class="title">Web Developer</p>
        </div>
    </div>
    <p>Welcome to my website! I am passionate about creating innovative web solutions and leveraging technology to solve real-world problems.</p>
    <p>With experience in Java, JavaScript, PHP, Python, HTML, CSS, and various frameworks and tools, I specialize in developing dynamic and user-friendly web applications.</p>
    <p>Explore my <a href="/projects">projects</a>, check out my <a href="/skills">skills</a>, or <a href="/contact">get in touch</a> to discuss potential collaborations.</p>
</section>
{% endblock %}
