{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<section class="section">
    <h2>Projects</h2>
    <div class="project-card">
        <h3>FoodCAT</h3>
        <p>Description: This is a sample website where user can view different cat foods with its corresponding price and stocks. While Admin can add, edit, or delete a cat food.</p>
        <p>Technologies: HTML, CSS, JavaScript, PHP, MariaDB</p>
        <a href="https://github.com/daiahnadine/foodCAT-web.git">View Details</a>
        <img class="project-image" src="static/images/foodCAT.JPG" alt="FoodCAT">
    </div>
    <div class="project-card">
        <h3>Student Registration System</h3>
        <p>Description: This is a sample website where students can register, login, edit their information, and view their own profile.</p>
        <p>Technologies: HTML, CSS, PHP, MariaDB</p>
        <a href="https://github.com/daiahnadine/registration-form.git">View Details</a>
        <img class="project-image" src="static/images/student-portal.png" alt="Student Portal">
    </div>
    <div class="project-card">
        <h3>Abba's Home of Decor</h3>
        <p>Description: This is a sample website where the clients of the Abba's Home of Decor can set their appointments.</p>
        <p>Technologies: HTML, CSS, JavaScript</p>
        <a href="https://github.com/daiahnadine/appointment-system-sample.git">View Details</a>
        <img class="project-image" src="static/images/home-of-decor.jpg" alt="Home of Decor">
    </div>
    <div class="project-card">
        <h3>Enrollment System</h3>
        <p>Description: This is a sample website where students can enroll.</p>
        <p>Technologies: HTML, CSS, Python</p>
        <a href="https://github.com/daiahnadine/enrollment-system.git">View Details</a>
        <img class="project-image" src="static/images/enrollment-system.JPG" alt="Enrollment System">
    </div>
    <div class="project-card">
        <h3>My Portfolio</h3>
        <p>Description: This is a sample portfolio website.</p>
        <p>Technologies: HTML, CSS, Python</p>
        <a href="https://github.com/daiahnadine/portfolio-sample.git">View Details</a>
        <img class="project-image" src="static/images/portfolio.JPG" alt="Portfolio">
    </div>
    <div class="project-card">
        <h3>Calculator</h3>
        <p>Description: This is a sample calculator.</p>
        <p>Technologies: HTML, CSS, Python</p>
        <a href="https://github.com/daiahnadine/sample-calculator.git">View Details</a>
        <img class="project-image" src="static/images/calculator.JPG" alt="Calculator">
    </div>
    <div class="project-card">
        <h3>Curriculum Vitae Sample</h3>
        <p>Description: This is a sample Curriculum Vitae.</p>
        <p>Technologies: HTML, CSS, PHP</p>
        <a href="https://github.com/daiahnadine/cv-activity.git">View Details</a>
        <img class="project-image" src="static/images/cv-sample.JPG" alt="Curriculum Vitae">
    </div>
</section>
{% endblock %}
